# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db
