# ===============================
# Virtual environments
# ===============================
.venv/
venv/
env/

# Environment variables
.env
.env.*

# ===============================
# PyCharm
# ===============================
.idea/

# ===============================
# Python cache
# ===============================
__pycache__/
*.py[cod]

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Build / dist
# ===============================
dist/
build/
*.egg-info/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Local tools (if not for public repo)
# ===============================

dashboard.ipynb

start_dashboard.bat

generator/

CLAUDE.md

dashboard/

data/

module_2/lessons/lesson_21_module2_review/amazon_ecommerce_1M.csv
